.navbar {
    display: flex;
    background-color: var(--accent);

    & :where(.left, .right) {
        width: 100%;
        padding-inline: 2rem;

        display: flex;
        align-items: center;
        gap: 1rem;
    }

    & .left {
        justify-content: start;
    }

    & .right {
        justify-content: end;
    }

    & .center {
        width: fit-content;
    }

    & a {
        text-decoration: none;
        color: #666666;
        font-weight: 600;

        &.active {
            color: black;
            font-weight: 700;
        }
    }
}